
    /* Estilo básico para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd; /* Cambia el color del borde si lo deseas */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Color de fondo para las celdas del encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para las filas pares */
}

tr:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el mouse sobre una fila */
}




button:hover {
    background-color: #d32f2f; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}